* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

header {
  background-color: #FCB70B;
  color:white;
  padding:15px 25px;
}

.footer {
  text-align: center;
  font-size:35px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}